/* Empty. Add your own CSS if you like */

.icons-denuncias {
  font-size: 14px;
}
.icons-denuncias .icon {
  font-size: 20px;
  left: 25px;
}
.no-border {
  border-width: 0px;
}

.no-padding {
  padding: 0px;
}

.error{
  margin-left: 14px;
  font-size: 0.9em;
  color: red;
}

/*modal*/
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.transparent {
  background: rgba(0,0,0,0.7);
}

.animate-hide {
  transition: all linear 0.3s;
  line-height: 20px;
  opacity: 1;
  background: white;
}

.animate-hide.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}
