<ion-view view-title="Comentarios">
  <ion-content class="padding">

    <form class="form-horizontal" name="comentarioForm" role="form" ng-submit="enviarComentario()">
      <h4>Añadir Comentario</h4>
      <label class="item item-input">
        <textarea ng-model="nuevoComentario.comentario" name="textareaComentario" placeholder="Tu comentario aqui" required> </textarea>
      </label>
      <span ng-show="!comentarioForm.textareaComentario.$pristine && comentarioForm.textareaComentario.$error.required" class="error">Comentario requerido</span>
      <button class="button button-stable button-block ">Enviar Comentario!</button>
    </form>
    <div class="spacer" style="height: 20px;"></div>
    <div class="list card" ng-repeat="comentario in comentarios" >

      <div class="item item-avatar">
        <img ng-src="{{comentario.imagen}}">
        <h2>{{comentario.nombre}}</h2>
        <p>{{comentario.fecha}}</p>
      </div>

      <div class="item item-body">
        <p>{{comentario.comentario}}</p>
      </div>

    </div>

  </ion-content>
</ion-view>
