<ion-view view-title="No Internetz :(">
  <ion-content class="padding">
    <div class="list card">
      <img ng-src="img/no-conection.png" style="width:100%;">
      <h1 class="assertive">Sin Conexión</h1>
    </div>
  </ion-content>
</ion-view>
