<ion-view view-title="Denuncias">
  <ion-nav-buttons side="right">
     <button class="button icon ion-navicon activated" ng-click="toggle()"></button>
   </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="Actualizar..." on-refresh="doRefresh()">
    </ion-refresher>
    <div class="list animate-hide ng-hide" ng-hide="filterOptions">

        <label class="item item-radio">
          <input type="radio" name="group" value="apoyos" ng-click="updateFilterOptions('apoyos')" ng-checked="{{$root.filter}} = 'apoyos'">
          <div class="item-content">
            Apoyos
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>

        <label class="item item-radio">
          <input type="radio" name="group" value="visualizaciones" ng-click="updateFilterOptions('visualizaciones')" ng-checked="{{$root.filter}} = 'visualizaciones'">
          <div class="item-content">
            Visualizaciones
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>

        <label class="item item-radio">
          <input type="radio" name="group" value="comentarios" ng-click="updateFilterOptions('comentarios')" ng-checked="{{$root.filter}} = 'comentarios'">
          <div class="item-content">
            Comentarios
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>

    </div>
    <ion-list>
      <ion-item class="item item-thumbnail-left item-icon-right" ng-repeat="denuncia in denuncias" type="item-text-wrap" href="#/tab/denuncias/{{denuncia.id}}">
        <img ng-src="{{denuncia.imagen}}">
        <h2>{{denuncia.titulo}}</h2>
        <p>{{denuncia.descripcion}}</p>
        <div class="row no-padding">
          <div class="col col-33 no-padding">
            <a href="#" class="no-padding no-border icons-denuncias item item-icon-left">
              <i class="icon ion-thumbsup"></i>{{denuncia.apoyos}}
            </a>
          </div>
          <div class="col col-33 no-padding">
            <a href="#" class="no-padding  no-border icons-denuncias item item-icon-left">
              <i class="icon ion-chatbox"></i> {{denuncia.comentarios}}
            </a>
          </div>
          <div class="col col-33 no-padding">
            <a href="#" class="no-padding no-border icons-denuncias item item-icon-left">
              <i class="icon ion-eye"></i>{{denuncia.visualizaciones}}
            </a>
          </div>
        </div>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
