<ion-view view-title="Perfil">
  <ion-content class="padding">
  <ion-refresher pulling-text="Actualizar..." on-refresh="doRefresh()"></ion-refresher>
    <div class="list card">
      <div class="item item-divider">Cuenta</div>
      <div class="item item-body">
        <div>
          Estás utilizando Denuncialo! como <b>Tester</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Mis Denuncias</div>
      <div class="item item-body">
        <div class="assertive">
			<ion-list>
				<ion-item class="item item-thumbnail-left item-icon-right" ng-repeat="denuncia in denuncias" ng-if="denuncia.denunciaMia==1"  type="item-text-wrap" href="#/tab/denuncias/{{denuncia.id}}">
					<img ng-src="{{denuncia.imagen}}">
					<h2>{{denuncia.titulo}}</h2>
					<p>{{denuncia.descripcion}}</p>
					<div class="row no-padding">
						<div class="col col-33 no-padding">
							<a href="#" class="no-padding no-border icons-denuncias item item-icon-left">
								<i class="icon ion-thumbsup"></i>{{denuncia.apoyos}}
							</a>
						</div>
					<div class="col col-33 no-padding">
						<a href="#" class="no-padding  no-border icons-denuncias item item-icon-left">
							<i class="icon ion-chatbox"></i> {{denuncia.comentarios}}
						</a>
					</div>
					<div class="col col-33 no-padding">
						<a href="#" class="no-padding no-border icons-denuncias item item-icon-left">
							<i class="icon ion-eye"></i>{{denuncia.visualizaciones}}
						</a>
					</div>
				</div>
				<i class="icon ion-chevron-right icon-accessory"></i>
				</ion-item>
			</ion-list>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
