<ion-view view-title="Denuncialo!">
  <ion-content class="padding">
    <div class="content">
      <form class="form-horizontal" role="form" ng-submit="enviarDenuncia()" id="form" name="denunciaForm">
        <div class="list">

          <button type="button" ng-click="getPhoto()" class="button button-block icon-left ion-ios-camera-outline button-positive activated button-primary">Hacer foto</button>

          <img ng-model="denuncia.imagen" ng-src="{{denuncia.imagen}}" style="max-width: 100%">

          <label class="item item-input item-floating-label">
           <span class="input-label">Título</span>
           <input ng-model="denuncia.titulo" type="text" name="titulo" placeholder="Título" required>
          </label>
          <span ng-show="!denunciaForm.titulo.$pristine && denunciaForm.titulo.$error.required" class="error">Título requerido</span>


         <label class="item item-input item-floating-label">
           <span class="input-label">Descripción</span>
           <input ng-model="denuncia.descripcion" type="text" name="descripcion" placeholder="Descripción" required>
         </label>
         <span ng-show="!denunciaForm.descripcion.$pristine && denunciaForm.descripcion.$error.required" class="error">Descripción requerida</span>

          <label class="item item-select">
            <span class="input-label">Categoría</span>
            <select ng-model="denuncia.categoria">
             <option value="Medioambiente">Medioambiente</option>
             <option value="Mantenimiento">Mantenimiento</option>
             <option value="Mobiliario">Mobiliario</option>
            </select>
          </label>

        </div>
        <div ng-if="denuncia.error == 1" class="padding">
          <p class="assertive"><i class="icon ion-ios-location"></i> {{denuncia.error}}</p>
        </div>
        <div class="padding">
          <button class="button button-block icon-left ion-ios-cloud-upload-outline button-balanced activated">Enviar!</button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
