<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Tab: Listado de denuncias -->
  <ion-tab title="Denuncias" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/denuncias">
    <ion-nav-view name="tab-denuncias"></ion-nav-view>
  </ion-tab>

  <!-- Tab: Denuncialo! -->
  <ion-tab title="Denuncialo!" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" href="#/tab/nueva-denuncia">
    <ion-nav-view name="tab-nueva-denuncia"></ion-nav-view>
  </ion-tab>

  <!-- Tab: Perfil -->
  <ion-tab title="Perfil" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Tab: No Internet -->
  <ion-tab title="Perfil" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/no-internet" hidden="true">
    <ion-nav-view name="tab-no-internet"></ion-nav-view>
  </ion-tab>

</ion-tabs>
