*{
	margin: 0px;
	padding:0px;
	border: 0px solid #000;
	
}

#contenido {
	margin:auto;
	margin-top:10px;
	width: 960px;
	
}

#menu {
	margin:auto;
	width: 300px;
	float:left;
	
}

#lista {
	margin:auto;
	margin-top:10px;
	width: 650px;
	float:right;
}



.denuncia {
	margin:auto;
	margin-top:60px;
	width: 600px;
	height: 100px;
	border: 1px solid #888;
}

.denuncia div {
	height:100%;
	float:left;


}

.denuncia div.check {
	/*width:42px;*/
	width:20px; /*MODIFICA ESTO PARA LOS BORDERS*/
}

.denuncia div.check input {
	margin:auto;
	margin-top:41px;
	height:16px;
	width:16px;
}


.denuncia div.img {
	width:100px;
}

div.img img{
	width:96px;
	height:96px;
	margin:auto;
	padding: 2px;
}

.denuncia div.info {
	width:206px;
	padding-left:2px;
	padding-right:2px;
	/*background-color:#00F;*/
}

.denuncia div.info div.separador {
	clear:both;
	height:0px;
}

.denuncia div.info .titulo {
	font-size:14px;
	font-style:bold;
	height:17px;
	padding:5px 0px 5px 0px;
	font-size:17px;
	overflow: hidden;
}

.denuncia div.info .categoria {
	height:23px;
	float:left;
	font-size:14px;
}

.denuncia div.info .estado {
	height:23px;
	float:right;
	font-size:14px;
	
}

.denuncia div.info .usuario  {
	height:23px;
	float:left;
	font-size:12px;
}


.denuncia div.info .fecha {
	height:23px;
	float:right;
	font-size:12px;
}

.denuncia div.info .detalles {
	margin:auto;
	max-height:27px;
	width:100%;
}
.denuncia div.info .detalles img {
	margin-left:0px;
	margin-right:5px;
}

.denuncia div.info .detalles .num {
	margin:auto;
	margin-top:0px;
	font-size:17px;
	width:38px;
	height:27px;
}


.denuncia div.desc {
	width:266px;
}

.denuncia div.desc .texto {
	height:94px;
	padding:3px 3px 3px 3px;
	font-size:13px;
	overflow: hidden;
}
